<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="HolidayShopping.Listeners"/>
</listeners>

  <test name="Validating Home page">
    <classes>
      <class name="HolidayShopping.MainPage"/>
          </classes>
      </test>
      <test name="Validating filter by color">
    <classes>
      <class name="HolidayShopping.filter_by_color"/>
          </classes>
      </test>
       <test name="Validating filter by color">
    <classes>
      <class name="HolidayShopping.product_details"/>
          </classes>
      </test>
      
   <!-- Test -->
</suite> <!-- Suite -->
